{% extends "base/base.html" %}
{% block title %}{{object_list.title}}{% endblock %}
{% block body %}
{% include "base/inc-menu.html" %}
<h1>Созданы пользователи</h1>
    <ul>
        {% for elem in object_list.users %}
           <li>
               {{elem.name}} ,статус "{{elem.user_type}}", скидка {{elem.discount_percent}}
               <span>
                  <a href="/remove-user/?user_id={{elem.id}}">
                      удалить пользователя
                  </a>
               </span>
           </li>
        {% endfor %}
    </ul>
{% endblock %}