{% extends "base/base.html" %}
{% block title %}{{ object_list.title }}{% endblock %}
{% block created_contacts %}
    <h1>запрос был передан методом POST</h1>
    <h4>Вы передали данные :</h4>
      <ul>
          <li>Имя :  {{object_list.request.firstname}}</li>
          <li>Фамилия  :  {{object_list.request.lastname}}</li>
          <li>Телефон  :  {{object_list.request.tel}}</li>
          <li>Почта  :  {{object_list.request.email}}</li>
          <li>Сообщение  :  {{object_list.request.text}}</li>
      </ul>
{% endblock %}