<ul>
    <li>
        <a href="/category-list/">
            Список категорий
        </a>
    </li>
    <li>
        <a href="/create-category/">
            Создать категорию
    </li>
    <li>
    </li>
    <li>
        <a href="/course-list/">
            Список курсов
        </a>
    </li>
    <li>
        <a href="/create-course/">
            Создать курс
        </a>
    </li>
    <li>
    </li>
    <li>
        <a href="/user-list/">
            Список пользователей
        </a>
    </li>
    <li>
        <a href="/create-user/">
            Создать пользователя
        </a>
    </li>
        <li>
    </li>
    <li>
        <a href="/selected_user/">
            Выбрать пользователя и привязать курсы
        </a>
    </li>
</ul>


